[submodule "external/replxx"]
	path = external/replxx
	url = https://github.com/AmokHuginnsson/replxx
[submodule "external/ggml"]
	path = external/ggml
	url = https://github.com/chirag-diwan/ggml.git
